@model DispatchOrderSystem.Web.Models.Products.CreateProductViewModel

@{
    ViewData["Title"] = "Registrar Producto";
}

<h2 class="mb-4">@ViewData["Title"]</h2>

<form asp-action="Create" method="post" class="card p-4 shadow-sm">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Nombre del Producto</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Descripción</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="d-flex justify-content-end d-flex gap-2">
        <a asp-action="Index" class="btn btn-outline-secondary ms-2">Cancelar</a>
        <button type="submit" class="btn btn-primary" style="background-color: #033e5c;">Guardar</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}